.project-descriptions {
    background: #141414;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 80vh;
    flex: 1;
}

.project-descriptions h1 {
    background-image:  linear-gradient(to bottom, rgb(149, 0, 199) 0%, rgb(0, 95, 199) 90%);
    background-size: 100%;
    margin-bottom: 5rem;
    margin: 0 auto;
    font-size: 4rem;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.project-link {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    margin-top: 1rem;
    padding: 10px;
}

.project-link:hover {
    color: #aaaaaa;
    cursor: pointer;
    transition: ease-in 0.3s;
}